@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Jolly+Lodger&family=Lato:wght@300&family=Lexend+Deca&family=Mochiy+Pop+P+One&family=Noto+Sans:wght@300&family=Permanent+Marker&display=swap');

.container-full {
    height: 100vh;
    overflow: hidden;
}

.navbar {
    background-color: rgba(51, 122, 183, 1.0);
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.5rem;
}

/* Add margin-top to move .col-md-6 up by 15 pixels */
.hero .content-col {
    margin-top: -100px;
}

/* Style for .EmTech-content section */
.EmTech-content {
    padding: 5vmax;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}
.inner-content {
  text-align: justify;
  margin-left: 45px;
  margin-right: 30px;
}
.EmTech-content img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    justify-content: space-evenly; 
    padding: 20px; 
    background-color:#99BBE6;
}

.flex-item {
    text-align: center;
    padding: 3vmax;
}

.flex-item h3 {
    font-size: 3rem;
    margin: 0;
    color: white;
    font-family: Mochiy Pop P One, serif;
}

.flex-item p {
    margin: 0;
    color: black;
}

.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    gap: 1.6rem;
    padding: 5vmax;
}

.grid-item h4 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.6;
    color: black;
}
